li.menu-item a{
    text-decoration: none !important;
}

/*
.layout-navbar-fixed body:not(.modal-open) .layout-content-navbar .layout-navbar, .layout-menu-fixed body:not(.modal-open) .layout-content-navbar .layout-navbar, .layout-menu-fixed-offcanvas body:not(.modal-open) .layout-content-navbar .layout-navbar {
    z-index: unset;
}
*/

.accordion-item.active button {
    font-size: inherit;
    background-color: #acace7;
    color: aliceblue;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: initial !important;
    border-bottom: none !important;
}

/*.swal2-container.swal2-top-end>.swal2-popup, .swal2-container.swal2-top-right>.swal2-popup {
    align-self: end !important;
    justify-self: end !important;
}*/

.swal2-popup.swal2-toast.swal2-icon-success.swal2-show{
    width: 100%;
    display: grid;
    margin-top: 80px;
}

.modal-fullscreen {
    width: 100vw !important;
    max-width: none !important;
    height: 100% !important;
    margin: 0 !important;
}

@media (min-width: 1200px){
    .layout-navbar-fixed body:not(.modal-open)
    .layout-content-navbar .layout-menu, .layout-menu-fixed body:not(.modal-open) .layout-content-navbar .layout-menu, .layout-menu-fixed-offcanvas body:not(.modal-open) .layout-content-navbar .layout-menu {
        z-index: 0 !important;
    }
}
.propose{
    border:  1px solid #19b966 !important;
}

.hidden{
    display: none;
}
